/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

FIGMA desing:

    https://www.figma.com/design/2QuGfAOcHaZJ6aHXfuamnK/Hometown-Homepage?node-id=0-1&p=f

FIGMA tutorial:

https://www.youtube.com/watch?v=fZ-OU_7aBv4

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}